.pop-up-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__error {
    color: #f65261;
    margin-bottom: 1rem;
  }
}
