.add-movie {
  font-size: 20px;
  padding: 14px;
  border-radius: 5px;
  border: none;
  color: #f65261;
  background-color: rgba(255, 255, 255, .2);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1.5px;
}
