.header {
  height: 400px;

  &__logo-panel {
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    position: relative;
  }
}
